body {
  --red: #df3b57;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.logo {
  width: 75vw;
  margin-bottom: 10vh;
}

.button {
  font-family: "Lexend Giga", sans-serif;
  text-transform: uppercase;
  background-color: var(--red);
  border: none;
  color: white;
  padding: 8px 20px 10px 20px;
  font-size: 1.2rem;
}

#webgl {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: -1;
}
