body {
  --red: #df3b57;
  --black: #1a1a1a;
  --white: #ebebeb;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
}

#app {
  font-family: "Lexend Giga", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mainMenu,
#endScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#hud {
}

.counterRect {
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--black);
  border: 2px solid var(--white);
  font-size: 4rem;
  color: var(--white);
  column-gap: 3rem;
}

.hudWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 50%;
  top: 4vh;
  transform: translate(-50%, 0);
  width: 800px;
}

.hint {
  margin-top: 1.3rem;
  display: inline-block;
  color: var(--white);
  font-size: 1.5rem;
}

.hint strong {
  font-weight: 700;
  color: var(--red);
}

.counter {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  column-gap: 1rem;
  margin: 0.5rem 0;
}

#peoples {
  width: 190px;
  text-align: right;
}
#planets {
  width: 95px;
  text-align: right;
}

.intro {
  position: fixed;
  top: 65vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 800px;

  background: var(--black);
  border: 2px solid var(--white);
  text-align: center;
  padding: 2rem 1rem;
  color: var(--white);
  font-size: 1.5rem;
}

.intro strong {
  color: var(--red);
}

.icons {
  height: 3.2rem;
}

.logo {
  width: 75vw;
  margin-bottom: 10vh;
}

.button {
  font-family: "Lexend Giga", sans-serif;

  text-transform: uppercase;
  background-color: var(--red);
  border: none;
  color: white;
  padding: 8px 20px 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

#webgl {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: -1;
}

/* End screen */

#endScreen {
  color: var(--white);
}

#endScreen h2 {
  font-size: 36px;
}

#endScreen h3 {
  font-size: 32px;
}

#endScreen .button {
  padding: 13px 50px;
  font-size: 24px;
  margin-bottom: 88px;
}

#endScreen strong {
  color: var(--red);
}

#endScreen .grid,
#endScreen .your-score {
  width: 900px;
}

#endScreen .grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  font-size: 24px;

  max-height: 200px;
  overflow: scroll;
}

#endScreen .grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

#endScreen .grid img {
  width: auto;
  height: 36px;
}

#endScreen .grid__bordered {
  border: 1px solid var(--white);
}

#endScreen .grid__underlined {
  border-bottom: 1px solid var(--white);
}

#endScreen .your-score {
  border: 1px solid var(--white);
  padding: 20px 0;
  margin-bottom: 34px;
}

#endScreen .your-score li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}

#endScreen .your-score li img {
  margin-right: 21px;
  height: 62px;
}

/* Utility */
.justify-left {
  justify-content: flex-start !important;
}

.p-10 {
  padding-left: 10%;
}

.nopad {
  padding: none !important;
}

/* Dev mode */
.tp-dfwv {
  /* display: none; */
}

canvas:not(#webgl) {
  /* display: none!important; */
}
